*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    display:flex;
    justify-content: center;
    background-color:#d0f0c0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
   
  }
  .exptrack-heading{
      margin-top:1rem;
      font-family: 'Birthstone', cursive;
      font-size: 35px;
  }
  .transaction-input{
      background-color: honeydew;
      margin-top:2rem;
      padding:2rem;
  }
  .balance{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
 
.button-container{
    display:flex;
    align-content: center;
    justify-content: center;
}
.calculation-area{
    margin:0.2rem;
}
.expensegreen{
    background-color:#50c878;
}
.expensered{
    background-color: #ea3c53;
}
input{
    border:none;
    outline:none;
    height:30px;
    margin-right: 0.4rem;
}
button{
    margin-right:0.4rem;
}
.add{
    background-color:#74c365 ;
    border:none;
    outline:none;
    padding:0.2rem;
    color:#fff;
}
.remove{
    background-color:#ff5349 ;
    border:none;
    outline:none;
    padding:0.2rem;
    color:#fff;
}
.Transaction-item{
    
    margin:1rem;
}
.expensegreen,.expensered{
    padding:1rem;
}
@media only screen and (min-width:900px){
    body{
        height:100vh;
    }
    .pic{
        width:50vw;
        height:60vh;
        box-shadow: 10px 10px 69px 0px rgba(97, 97, 97, 0.75);
       
    }
    .prev,.next {
        width:10vw;
        height:10vh ;
        margin-top:10px ;
        background-color:rgb(11, 87, 68);
        cursor:pointer;
        font-weight: 600;
        
    }
    .prev{
        cursor:pointer ;
    }
    .credits {
        margin-top:.6em;
        text-align: center;
        font-size:10px;
    }
    .credits a {
        text-decoration: none;
        color:black;
    }
}
