*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    display:flex;
    justify-content: center;
   
  }
  .heading{
      margin-top:2em;
      text-align: center;
  }
  .slideshow-container {
     margin-top:2.5em;
     animation-name:fade;
     animation-duration:1.5s ;
  }
.pic{
    width:300px;
    height:300px;
   
}
.button-container{
    display:flex;
    align-content: center;
    justify-content: center;
}
.prev,.next{
    padding:5px;
    background-color: rgb(217, 255, 127);
    border:none;
    outline:none;
    box-shadow: 10px 10px 69px 0px rgba(168, 168, 168, 0.75)
}
.prev{
    margin-right:10px;
}
@media only screen and (min-width:900px){
    body{
        height:100vh;
    }
    .pic{
        width:50vw;
        height:60vh;
        box-shadow: 10px 10px 69px 0px rgba(97, 97, 97, 0.75);
       
    }
    .prev,.next {
        width:10vw;
        height:10vh ;
        margin-top:10px ;
        background-color:rgb(11, 87, 68);
        cursor:pointer;
        font-weight: 600;
        
    }
    .prev{
        cursor:pointer ;
    }
    .credits {
        margin-top:.6em;
        text-align: center;
        font-size:10px;
    }
    .credits a {
        text-decoration: none;
        color:black;
    }
}
